# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Environment variables
.env

# TLS key and cerificate
*.pem
key.json
tenant.json
tenant-01.json
apps.json
default-tenant.json
app-01.json
app-02.json
user-01.json
user-02.json
user-03.json
reg-01.json
reg-02.json
reg-03.json
users.json
